/*  Report for
  Jeremy Robson

  Daily
  Weekly
  Monthly

  Work
  5hrs <!-- daily -->
  Previous - 7hrs <!-- daily -->
  32hrs <!-- weekly -->
  Previous - 36hrs <!-- weekly -->
  103hrs <!-- monthly -->
  Previous - 128hrs <!-- monthly -->

  Play
  1hr <!-- daily -->
  Previous - 2hrs <!-- daily -->
  10hrs <!-- weekly -->
  Previous - 8hrs <!-- weekly -->
  23hrs <!-- monthly -->
  Previous - 29hrs <!-- monthly -->

  Study
  0hrs <!-- daily -->
  Previous - 1hr <!-- daily -->
  4hrs <!-- weekly -->
  Previous - 7hrs <!-- weekly -->
  13hrs <!-- monthly -->
  Previous - 19hrs <!-- monthly -->

  Exercise
  1hr <!-- daily -->
  Previous - 1hr <!-- daily -->
  4hrs <!-- weekly -->
  Previous - 5hrs <!-- weekly -->
  11hrs <!-- monthly -->
  Previous - 18hrs <!-- monthly -->

  Social
  1hr <!-- daily -->
  Previous - 3hrs <!-- daily -->
  5hrs <!-- weekly -->
  Previous - 10hrs <!-- weekly -->
  21hrs <!-- monthly -->
  Previous - 23hrs <!-- monthly -->

  Self Care
  0hrs <!-- daily -->
  Previous - 1hr <!-- daily -->
  2hrs <!-- weekly -->
  Previous - 2hrs <!-- weekly -->
  7hrs <!-- monthly -->
  Previous - 11hrs <!-- monthly -->*/
  @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
  
  * {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
  }

  body {
    width: 100%;
    height: 100vh;
    background-color: #0d1323;
  }

  main {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }

  section {
    width: 100%;
    height: 485px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
  }




  .user_card {
    height: 100%;
    width: 240px;
    
    border-radius: 13px;
    
    background-color: #1d204b;
  }
  .user_details{
    width: 100%;
    height: 333px;

    padding: 32px 27px 32px 27px;

    border-radius: 13px;

    display: flex;
    flex-direction: column;
    gap: 40px;

    background-color: #5746ea;
  }



  .user_image{
    height: 75px; 
    width: 75px; 
    border: 3px solid white; 
    border-radius: 50%;
  }
  #p_user_name {
    color: #aaa5f8;
    font-size: 15px;
  }
  .user_name {
    color: white;
    font-size: 40px;
    font-weight: 100;
  }



  .type_of_time_ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 17px;
    padding: 27px 30px 27px 30px;
  }
  .type_of_time_ul li {
    color: #6e6faf;
    cursor: pointer;
    width: fit-content;
  }
  .time:hover {
    color: #d8dce3 !important;
  }
  #daily {
    color:#d8dce3;
  }


  .stats_flex {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }



  .stats_TopLayer {
    display: flex;
    gap: 27px;
  }
  .stats_card {
    height: 227px;
    width: 240px;

    border-radius: 13px;

    background-color: #1d204b;
  }
  .colored_layer {
    width: 100%;
    height: 55px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    display: flex;
    flex-direction: row-reverse;
    padding-left: 17px;
    padding-right: 17px;
  }
  .colored_layer img{
    width: 60px;
    height: 60px;
  }
  .stats {
    height: 188px;
    width: 100%;
    background-color: #1d204b;
    z-index: 2;
    position: relative;
    top: -16px;
    border-radius: 13px;
    padding: 30px;
  }
  .stats:hover {
    background-color: #34397b;
  }
  .type_of_stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: white;
    font-weight: 500;
    margin-bottom: 34px;
  }


  .numbers {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .current_time {
    font-size: 50px;
    color: white;
    font-weight: 100;
  }
  .last_time {
    color: #7d80b3;
    font-size: 11px;
  }


  .stats_BottomLayer {
    display: flex;
    gap: 27px;
  }


  @media only screen and (max-width: 1055px) {
    .stats_TopLayer {
      gap: 15px;
    }
    .stats_BottomLayer{
      gap: 15px;
    }
    section {
      gap: 15px;
    }
  }

  @media only screen and (max-width: 1015px) {
    section {
      flex-direction: column;
      justify-content: normal;
    }
    .type_of_time_ul {
      flex-direction: row;
    }
    .user_details {
      flex-direction: row;
      height: 95px;
      align-items: center;
    }
    .user_image {
      width: 60px;
      height: 60px;
    }
    .p_user_name {
      font-size: 13px;
    }
    .user_name {
      font-size: 22px;
    }
    .stats_BottomLayer {
      flex-wrap: wrap;
      justify-content: center;
    }
    .stats_TopLayer {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  
  @media only screen and (max-width: 755px) {
    .user_details{
      padding-right: 4px;
      gap: 28px;
    }
    .user_name {
      font-size: 14px;
    }
    .p_user_name {
      font-size: 13px;
    }
    .numbers {
      flex-direction: row;
      align-items: center;
    }
    .stats,  .stats_card{
      height: 115px;
    }
    .last_time {
      text-align: center;
    }
    .stats_TopLayer, .stats_BottomLayer, .stats_flex {
      gap: 50px;
    }
    .type_of_time_ul {
      height: 54px;
      padding: 0px;
      justify-content: center;
      align-items: center;
    }
    .type_of_stat {
      margin: 0px;
    }

  
  }

  @media only screen and (max-width: 540px) {
    .stats_card {
      width: 255px;
    }
    .user_card {
      width: 255px;
    }
    .type_of_time_ul {
      gap: 0px;
      justify-content: space-evenly;
    }
    .user_name {
      font-size: 19px;
    }
  }